@import "../../../varibales.scss";

.customer-registration-container {
  display: flex;
  width: 100%;
  justify-content: center;
  .customer-registration-main {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid $soft-bg;
    border-radius: 10px;
    width: 50%;
    gap: 5px;
    padding: 20px;
    .form-customer-registration {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 20px;
      .form-body {
        display: flex;
        justify-content: space-around;
        .form-left {
          display: flex;
          flex-direction: column;
          width: 60%;
          .form-group {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .error-msg {
              color: red;
              font-size: 0.7rem;
            }
            label {
              margin-top: 5px;
              color: $main-color;
              font-size: 1.2rem;
              margin-bottom: 5px;
            }
            .input-field {
              width: 90%;
              padding: 10px;
              background-color: transparent;
              border: 1px solid $main-color;
              outline: none;
              border-radius: 5px;
              color: white;
              option {
                color: black;
              }
            }
          }
        }

        .form-right {
          display: flex;
          flex-direction: column;
          width: 60%;
          .form-group {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .error-msg {
              color: red;
              font-size: 0.7rem;
            }
            label {
              margin-top: 5px;
              color: $main-color;
              font-size: 1.2rem;
              margin-bottom: 5px;
            }
            .input-field {
              width: 90%;
              padding: 10px;
              background-color: transparent;
              border: 1px solid $main-color;
              outline: none;
              border-radius: 5px;
              color: white;
              option {
                color: black;
              }
            }
          }
        }
      }
      .button-group {
        .btn-submit {
          padding: 10px 20px;
          background-color: rgb(112, 223, 112);
          color: rgb(255, 255, 255);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 500;
          display: flex;
          gap: 5px;
          &:hover {
            background-color: rgb(0, 255, 0);
          }
        }
      }
    }
  }
}
