@import "../../varibales.scss";
.contain {
  margin-top: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(180px, auto);

  .area {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $soft-bg;

    .form-group {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        font-size: 15px;
        font-weight: 500;
      }
      .input-field {
        width: 100%;
        padding: 10px;
        background-color: transparent;
        border: 1px solid $main-color;
        outline: none;
        border-radius: 5px;
        color: white;
        option {
          color: black;
        }
      }
      .error-msg {
        color: red;
        font-size: 0.7rem;
      }
    }
    .working-hours {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .area1 {
    grid-column: span 1;
    grid-row: span 2;

    .area1-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(180px, auto);
      gap: 10px;
      .area-1 {
        padding: 10px;
        border-radius: 10px;
        // border: 1px solid $soft-bg;
        position: relative;
        .upload-button {
          position: absolute;
          bottom: 0px;
          right: 0px;
          background-color: rgb(104, 102, 102);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          img {
            height: 40px;
            width: 40px;
            cursor: pointer;
          }

        }    
        .upload-button:hover {
          background-color: rgb(58, 49, 49);
          border-radius: 50%;
        }
      }
      .region1 {
        grid-column: span 2;
        grid-row: span 1;
      }

      .region2 {
        grid-column: span 1;
        grid-row: span 1;
        .profile-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .info-item {
            display: flex;
            gap: 10px;
            .profile-info-item-label {
              font-weight: bold;
            }
            .profile-info-item-value {
            }
          }
        }
      }
    }
  }
}
