.users-container{
    height: 100%;
    .infor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        button {
            padding: 10px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            outline: none;
        }
    }
}